@import nib

.selector
.fields
.submit
  display block

.selector
.fields
  width 100%
  height 5em

.submit
  margin 1em auto
  font-weight bold
  font-size 1.2em

.error
  color 0.8*red

.github-source
  position absolute
  top 0
  right 0
  border 0
  opacity 0.3

  &:hover
    opacity 1.0

.api-results-item
  /* We make only one side with a margin so that top and bottom margins of
     consecutive items do not collapse and confuse computation of how much
     to scroll in keep-visible momentum plugin. */
  margin 0 auto 1em auto

.renderjson
  /* During animation Velocity sets overflow to hidden which makes the margin
     not collapse with the results heading margin above. So the results item
     temporary jumps down, before being return back once the animation finishes.
     The solution is to simply remove the top margin so that there is no collapsing. */
  margin-top 0

  a
    text-decoration none

  .disclosure
    color crimson

  .syntax
    color grey

  .string
    color darkred

  .number
    color darkcyan

  .boolean
    color blueviolet

  .key
    color darkblue

  .keyword
    color blue

  .object.syntax
    color lightseagreen

  .array.syntax
    color orange

.diff, .renderjson-wrapper
  width 100%

.renderjson
  white-space pre-wrap

table.diff
  font-size 0.8em
