.selector
.fields
.submit
  display block

.selector
.fields
  width 100%
  height 5em

.submit
  margin 1em auto
  font-weight bold
  font-size 1.2em

.error
  color 0.8*red

.github-source
  position absolute
  top 0
  right 0
  border 0
  opacity 0.3

  &:hover
    opacity 1.0

.api-results-item
  margin 1em 0

.renderjson
  a
    text-decoration none

  .disclosure
    color crimson

  .syntax
    color grey

  .string
    color darkred

  .number
    color darkcyan

  .boolean
    color blueviolet

  .key
    color darkblue

  .keyword
    color blue

  .object.syntax
    color lightseagreen

  .array.syntax
    color orange
